.container-fluid .btn-round{
    border-radius: 50rem;
    border: none;
    padding: 1.5rem 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    transform: translateX(-8%);
    span{
        font-size: 90%;
    }
}
.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-fluid .add{
    background-color: $col-dark;
    color: $color-primary;
    font-size: 1.6rem;
    &:hover{
        color: $col-dark;
        box-shadow: 0 .5rem 1rem rgba(#000, .15);
    }
    &:focus{
        color: $color-primary;
    }
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
}
}

.btn-text{
    text-decoration: none;
    color: $col-dark;
    transition: 0.4s all ease-in-out;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        padding-bottom: 3px;
        border-bottom: 1px solid $color-primary;
        // font-weight: 500;    
        color: $color-primary;
        transition: 0.4s all ease-in-out;

    }
    &:focus{
        color: $color-primary;
        border-bottom: none;
        font-weight: 700;
    }
    &:active{
        font-weight: 700;
        border-bottom: none;
        color: $color-primary;
    }
}