.card__container{
    position: relative;
    left: 18%;
    margin-top: -30rem;
    color: $col-dark !important;
    width: 77%;
    height: 80vh;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
    .active{
        display:flex !important;
        flex-direction: column;
    }
    .hidden{
        display: none;
    }
    
    .overview{
        // display: flex  !important;
        // flex-direction: column;
        width: 100%;
        color: $col-dark;
        canvas{
            // margin-top: -10px;
            align-self: flex-start;
            width:150px !important;
            height:190px !important;
          
          }
        &--heading{
            align-items: flex-start;
            text-transform: capitalize;
            width: 100%;
            h2{
                font-size: 2.4rem;
            }
            p{
                font-size: 1.4rem;
                margin-top: .7rem;
            }
            h2,p{
                color: $col-dark;
                margin: 0 !important;
                
            }
        }
        &__top{
            margin-top: 1rem;
        }
        &__bottom{
            margin-top: 2%;
        }
        &__card{
            width:50rem;
            &--title{
                align-self: flex-start;
                align-items: flex-start !important;
                .chead{
                    font-size: 1.4rem;
                    color: $col-dark;
                    text-transform: capitalize;
                }
                a{
                    text-decoration: none;
                    color: $color-primary;
                    font-size: 1rem;
                }
            }
           
            .chart__container{
                height: 19rem;
                align-items: flex-start;
                .info>div{
                    align-self: flex-start;
                    font-size: 1.6rem;
                    &:not(:last-child){
                        margin-bottom: .5rem;
                    }
                    text-transform: capitalize;
                    span{
                        font-weight: 500;
                    }
                }
                .info{
                    margin-top: 3rem;
                    margin-right: 5rem;
                    .status{
                        span{
                            color: #39E5AE;
                        }
                    }
                }
                .thath{
                    height: 150px;
                    width: 100px;
                    margin-left: 10rem;
                    background-color: aquamarine;
                }
            }
        }
    }

}
