.devices {
    display: none;
    &--cont__table {
        color: $col-dark !important;
        border-collapse: collapse;
        border-collapse: separate;
        border-spacing: 0 2rem;
        align-self: center;
        width: 80%;

        th,
        td {
            // color: $col-dark !important;
            padding: 8px;
            // margin-left: 3rem;
            text-align: left;
            // border-bottom: 1px solid #ddd;
        }
        th{
            text-transform: uppercase;
            font-weight: 500;
            color: $color-primary;
        }

        tr:not(:first-child) {
            background-color: white;
            padding: 8px;
            border-radius: 5px;
            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        }

        .status {
            text-transform: uppercase;
            font-weight: 700;
            color: #39E5AE;
        }


    }
}